<div class="modal-header">
    <h3 class="modal-title">Pushalot settings</h3>
</div>
<div class="modal-body">
    <p>
        To properly set up <em>Pushalot</em> you need an authorization token which can be acquired by heading to
        <a href="https://pushalot.com/manager/authorizations">pushalot.com/manager/authorizations</a>.
    </p>

    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="authorizationToken" class="control-label col-sm-3">Authorization token</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" ng-model="config.AuthorizationToken" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="test(config)">Test</button>
    <button type="button" class="btn btn-primary" ng-click="save(config)">Save</button>
</div>