@{
    Layout = "Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <p>Welcome to the management site for your Hadouken service. From here you can manage your plugins and basic settings.</p>
    </div>
</div>