[submodule "deps/libtorrent"]
	path = deps/libtorrent
	url = https://github.com/arvidn/libtorrent
[submodule "deps/cpp-netlib"]
	path = deps/cpp-netlib
	url = https://github.com/cpp-netlib/cpp-netlib
[submodule "webui"]
	path = webui
	url = https://github.com/hadouken/webui
[submodule "vendor/nlohmann-json"]
	path = vendor/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "vendor/libtorrent"]
	path = vendor/libtorrent
	url = https://github.com/arvidn/libtorrent
