# Ignore FAKE
tools/FAKE.Core/

# Ignore /lib folder
lib/
_ReSharper.Hadouken/

# Build output
build/

src/**/**/bin
src/**/**/obj
src/Shared/CommonAssemblyInfo.cs

# User-specific files
*.suo
*.user
*.sln.docstates
*.ncrunchsolution

*.pyc

#Wix
*.wxobj
*.wixobj
*.wixpdb

#Config
config/config.yml
packages/
src/**/**/**/obj
src/**/**/**/bin
docs/_build
