# Ignore /lib folder
lib/

# Build output
build/

src/**/**/bin
src/**/**/obj
src/Shared/CommonAssemblyInfo.cs

# User-specific files
*.suo
*.user
*.sln.docstates

*.pyc

#Wix
*.wxobj
*.wixobj
*.wixpdb