<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Login | Hadouken Management Interface</title>
    
        <link href="Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
        <link href="Content/SignIn.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        
        <div class="container">
            <form class="form-signin" role="form" method="POST">
				<div class="text-center"><img src="/Content/Images/256.png" /></div>

                @if (Model.AccountConfigured)
                {
                    <h2 class="form-signin-heading">Sign in</h2>
                }
                else
                {
                    <h2 class="form-signin-heading">Create account</h2>
                    <p><em>This is the first time you are here!</em> Please create your account below to finish configuration.</p>   
                }

                <input type="text" class="form-control" placeholder="Username" name="userName" required autofocus>
                <input type="password" class="form-control" placeholder="Password" name="password" required>

                @if (Model.AccountConfigured)
                {
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                }
                else
                {
                    <button class="btn btn-lg btn-success btn-block" type="submit">Create account</button>
                }
            </form>
        </div>
    </body>
</html>