<h1 class="page-header">
    AutoMove rules
    <button class="btn btn-xs btn-primary" ng-click="upsertRule()">Add rule</button>
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Target path</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="rule in rules">
            <td>{{ rule.Name }}</td>
            <td>{{ rule.TargetPath }}</td>
            <td>
                <div class="pull-right">
                    <button class="btn btn-xs btn-warning" ng-click="upsertRule(rule)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-xs btn-danger" ng-click="removeRule(rule, $index)"><i class="fa fa-trash-o"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>