<h1 class="page-header">JSONRPC Debugger</h1>

<div class="row">
    <div class="col-md-6">
        <h3>Data</h3>

        <div class="row">
            <div class="col-md-12">
                <textarea style="width: 100%; height: 300px; font-family: monospace;" ng-model="json"></textarea>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-offset-6 col-md-6">
                <button type="button" class="btn btn-primary pull-right" ng-click="send(json)">Send JSON</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Result</h3>

        <div class="row">
            <div class="col-md-12">
                <textarea style="width: 100%; height: 300px; font-family: monospace;" id="result">{{ result }}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Response time: {{ responseTime }}ms</p>
            </div>
        </div>
    </div>
</div>