<h1 class="page-header">Settings</h1>

<form class="form-horizontal" name="settingsForm" role="form" ng-submit="save()">
    <tabset>
        <tab heading="General">
            <p>zup</p>
        </tab>

        <tab heading="BitTorrent">
            <p>BitTorrent settings</p>
        </tab>

        <tab heading="Extensions ({{ extensions.length }})">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="extension in extensions">
                        <td><input type="checkbox" ng-model="extension.Enabled" ng-change="toggleExtension(extension.Id, extension.Enabled)" />
                        <td>{{ extension.Name }}</td>
                        <td>{{ extension.Description }}</td>
                        <td style="text-align: right;"><button type="button" class="btn btn-default btn-xs" ng-show="hasDialog(extension.Id)" ng-click="configure(extension.Id)">Configure</button>
                    </tr>
                </tbody>
            </table>
        </tab>
    </tabset>

    <button type="submit" class="btn btn-primary">Save</button>
</form>