<h1 class="page-header">Settings</h1>

<form class="form-horizontal" name="settingsForm" role="form" ng-submit="save()">
    <tabset>
        <tab heading="General">
            <form class="form-horizontal">
                <h3 class="page-header">Downloads</h3>

                <div class="form-group">
                    <label for="bt_save_path" class="control-label col-sm-3">Save path</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="bt_save_path" ng-model="config['bt.save_path']" />
                        <span class="help-block">Where to put your downloads.</span>
                    </div>
                </div>

                <h3 class="page-header">Web UI <small>* requires restart</small></h3>

                <div class="form-group">
                    <label for="http_binding" class="control-label col-sm-3">HTTP binding</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="http_binding" ng-model="config['http.binding']" />
                            </div>
                        </div>
                        <span class="help-block">The address to bind to. <em>localhost</em> is the default.
                        To accept external connections, this should be <em>+</em>.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="http_port" class="control-label col-sm-3">HTTP port</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" name="http_port" ng-model="config['http.port']" />
                    </div>
                </div>
            </form>
        </tab>

        <tab heading="Network">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="bt_net_listen_port" class="control-label col-sm-3">Listen port</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-3">
                                <input type="number" class="form-control" name="bt_net_listen_port" ng-model="config['bt.net.listen_port']" />
                            </div>
                        </div>
                        <span class="help-block">The listen port to use for incoming BitTorrent connections.</span>
                    </div>
                </div>
            </form>
        </tab>

        <tab heading="Advanced">
            <div class="alert alert-warning"><strong>Warning!</strong> Changing these
            settings may or may not break Hadouken for you.</div>

            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, item) in advancedSettings">
                        <td>{{ key }}</td>
                        <td>
                            <div ng-if="item.type === 'boolean'">
                                <input type="checkbox" ng-model="item.value" ng-change="item.dirty = true;" />
                            </div>

                            <div ng-if="item.type === 'float'">
                                <input type="number" class="form-control input-sm" step="0.01" ng-model="item.value" ng-change="item.dirty = true;" />
                            </div>

                            <div ng-if="item.type === 'number'">
                                <input type="number" class="form-control input-sm" ng-model="item.value" ng-change="item.dirty = true;" />
                            </div>

                            <div ng-if="item.type === 'string'">
                                <input type="text" class="form-control input-sm" ng-model="item.value" ng-change="item.dirty = true;" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary pull-right" ng-click="saveAdvanced()" ng-disabled="advancedSettingsBusy">
                <i class="fa fa-cog fa-spin" ng-show="advancedSettingsBusy"></i>
                Save
            </button>
        </tab>

        <tab heading="Extensions ({{ extensions.length }})">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="extension in extensions">
                        <td><input type="checkbox" ng-model="extension.Enabled" ng-change="toggleExtension(extension.Id, extension.Enabled)" />
                        <td>{{ extension.Name }}</td>
                        <td>{{ extension.Description }}</td>
                        <td style="text-align: right;"><button type="button" class="btn btn-default btn-xs" ng-show="hasDialog(extension.Id)" ng-click="configure(extension.Id)">Configure</button>
                    </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
</form>