<div class="modal-header">
    <h3 class="modal-title">Configure {{ notifier.Name }}</h3>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal">
        <div class="form-group" ng-repeat="prop in config.Properties">
            <!-- Checkbox -->
            <div ng-if="prop.Type === 'Checkbox'">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="dict[prop.Key]" /> {{ prop.Name }}
                        </label>
                    </div>
                </div>
            </div>

            <!-- Number -->
            <!-- Text -->
            <div ng-if="prop.Type === 'Number'">
                <label for="input_{{ prop.Key }}" class="col-sm-3 control-label">{{ prop.Name }}</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" name="input_{{ prop.Key }}" ng-model="dict[prop.Key]" />
                </div>
            </div>

            <!-- Password -->
            <div ng-if="prop.Type === 'Password'">
                <label for="input_{{ prop.Key }}" class="col-sm-3 control-label">{{ prop.Name }}</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" name="input_{{ prop.Key }}" ng-model="dict[prop.Key]" />
                </div>
            </div>

            <!-- Text -->
            <div ng-if="prop.Type === 'Text'">
                <label for="input_{{ prop.Key }}" class="col-sm-3 control-label">{{ prop.Name }}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="input_{{ prop.Key }}" ng-model="dict[prop.Key]" />
                </div>
            </div>

            <!-- Url -->
            <div ng-if="prop.Type === 'Url'">
                <label for="input_{{ prop.Key }}" class="col-sm-3 control-label">{{ prop.Name }}</label>
                <div class="col-sm-9">
                    <input type="url" class="form-control" name="input_{{ prop.Key }}" ng-model="dict[prop.Key]" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="saving">
        <i class="fa fa-spinner fa-spin" ng-show="saving"></i>
        Save
    </button>
</div>