<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="Complete" Title="Hadouken $(var.BuildVersion)" ConfigurableDirectory="INSTALLDIR" Display="expand" Level="1">
      <ComponentGroupRef Id="CoreComponents" />
      <ComponentGroupRef Id="WebComponents" />
      <ComponentGroupRef Id="LibComponents" />
      <ComponentGroupRef Id="X86Components" />
      <ComponentGroupRef Id="ServiceComponents" />
      <ComponentGroupRef Id="ConfigComponents" />

      <Feature Id="Extensions" Title="!(loc.Ext_Title)" Description="!(loc.Ext_Description)" Level="1">
        <Feature Id="AutoAddExtension" Title="!(loc.AutoAdd_Ext_Title)" Description="!(loc.AutoAdd_Ext_Description)" Level="1">
          <ComponentGroupRef Id="AutoAddExtensionComponents" />
        </Feature>

        <Feature Id="AutoMoveExtension" Title="!(loc.AutoMove_Ext_Title)" Description="!(loc.AutoMove_Ext_Description)" Level="1">
          <ComponentGroupRef Id="AutoMoveExtensionComponents" />
        </Feature>

        <Feature Id="HipChatExtension" Title="!(loc.HipChat_Ext_Title)" Description="!(loc.HipChat_Ext_Description)" Level="1">
          <ComponentGroupRef Id="HipChatExtensionComponents" />
        </Feature>

        <Feature Id="ImporterExtension" Title="!(loc.Importer_Ext_Title)" Description="!(loc.Importer_Ext_Description)" Level="1">
          <ComponentGroupRef Id="ImporterExtensionComponents" />
        </Feature>

        <Feature Id="KodiExtension" Title="!(loc.Kodi_Ext_Title)" Description="!(loc.Kodi_Ext_Description)" Level="1">
          <ComponentGroupRef Id="KodiExtensionComponents" />
        </Feature>

        <Feature Id="MailerExtension" Title="!(loc.Mailer_Ext_Title)" Description="!(loc.Mailer_Ext_Description)" Level="1">
          <ComponentGroupRef Id="MailerExtensionComponents" />
        </Feature>

        <Feature Id="PushalotExtension" Title="!(loc.Pushalot_Ext_Title)" Description="!(loc.Pushalot_Ext_Description)" Level="1">
          <ComponentGroupRef Id="PushalotExtensionComponents" />
        </Feature>

        <Feature Id="PushbulletExtension" Title="!(loc.Pushbullet_Ext_Title)" Description="!(loc.Pushbullet_Ext_Description)" Level="1">
          <ComponentGroupRef Id="PushbulletExtensionComponents" />
        </Feature>

        <Feature Id="PushoverExtension" Title="!(loc.Pushover_Ext_Title)" Description="!(loc.Pushover_Ext_Description)" Level="1">
          <ComponentGroupRef Id="PushoverExtensionComponents" />
        </Feature>

        <Feature Id="RssExtension" Title="!(loc.Rss_Ext_Title)" Description="!(loc.Rss_Ext_Description)" Level="1">
          <ComponentGroupRef Id="RssExtensionComponents" />
        </Feature>

        <Feature Id="UpdateCheckerExtension" Title="!(loc.UpdateChecker_Ext_Title)" Description="!(loc.UpdateChecker_Ext_Description)" Level="1">
          <ComponentGroupRef Id="UpdateCheckerExtensionComponents" />
        </Feature>
      </Feature>

      <Feature Id="VCRedist" Title="!(loc.VCRedist_Title)" Description="!(loc.VCRedist_Description)" Display="expand" Level="1">
        <MergeRef Id="VCRedist" />
      </Feature>
	  
	  <Feature Id="FirewallException" Title="!(loc.Firewall_Title)" Description="!(loc.Firewall_Description)" Level="1">
		<ComponentGroupRef Id="FirewallComponents" />
	  </Feature>
    </Feature>

    <Feature Id="Tools" Title="Tools" Description="Tools and utilities extending Hadouken." Display="expand" Level="1">
      <Feature Id="PoshTools" Title="PowerShell 4.0 module" Description="A PowerShell 4.0 module which contains a few cmdlets for interacting with a local (or remote) Hadouken instance." Display="expand" Level="1">
        <ComponentGroupRef Id="PowerShellComponents" />
      </Feature>
    </Feature>
  </Fragment>
</Wix>