<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
    Name="Hadouken"
    Manufacturer="Viktor Elofsson - vktr.se"
    Version="$(var.BuildVersion)"
    Id="A62F76A5-4422-4B3A-B8AB-EBD1031FDF93"
    UpgradeCode="52A66249-5BE7-4F0B-BE83-7C7B7AED65D1"
    Language="1033"
    Codepage="1252">

    <Package Id="*" Description="Hadouken $(var.BuildVersion) Installer" InstallerVersion="300" Languages="1033" Compressed="yes" SummaryCodepage="1252" />

    <Media Id="1" Cabinet="hdkn.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Hadouken">
          <Component Id="Hdkn" Guid="A3FACA94-3F24-4EAC-AF60-5F4985179D33">
            <File Id="Hdkn" Name="Hadouken.dll" Source="$(var.BinDir)/Hadouken.dll" KeyPath="yes" />
          </Component>

          <Component Id="HdknImpl" Guid="79C85E28-7AB4-432D-8AF2-2D20C8CB1278">
            <File Id="HadoukenImpl" Name="Hadouken.Impl.dll" Source="$(var.BinDir)/Hadouken.Impl.dll" KeyPath="yes" />
          </Component>

          <Component Id="HdknImplBt" Guid="5992CB2D-A2D3-4F52-B1B7-28F34DE75307">
            <File Id="HdknImplBt" Name="Hadouken.Impl.BitTorrent.dll" Source="$(var.BinDir)/Hadouken.Impl.BitTorrent.dll" KeyPath="yes" />
          </Component>

          <Component Id="HdknMsg" Guid="1E766B20-B6AA-4751-8164-FE44CE7F4256">
            <File Id="HdknMsg" Name="Hadouken.Messages.dll" Source="$(var.BinDir)/Hadouken.Messages.dll" KeyPath="yes" />
          </Component>

          <Component Id="HdknCmdLine" Guid="F4620120-41BA-4989-9098-79B3479652AE">
            <File Id="HdknCmdLine" Name="Hadouken.Hosts.CommandLine.exe" Source="$(var.BinDir)/Hadouken.Hosts.CommandLine.exe" KeyPath="yes" />
          </Component>

          <Component Id="HdknWinSrv" Guid="9A0109C2-CF47-40DD-B49B-8D7F511B4682">
            <File Id="HdknWinSrv" Name="Hadouken.Hosts.WindowsService.exe" Source="$(var.BinDir)/Hadouken.Hosts.WindowsService.exe" KeyPath="yes" />
            <File Id="HdknWinSrvCfg" Name="Hadouken.Hosts.WindowsService.exe.config" Source="$(var.BinDir)/Hadouken.Hosts.WindowsService.exe.config" />

            <util:XmlFile 
              Id="ModifyWebUIPort"
              File="[#HdknWinSrvCfg]"              
              Action="setValue"
              ElementPath="//appSettings/add[\[]@key='WebUI.Url'[\]]/@value"
              Value="http://localhost:[HDKN_WEBUI_PORT]/" />

            <util:User
              Id="GrantLogonAsService"
              CreateUser="no"
              LogonAsService="yes"
              Name="[HDKN_SRV_USER]"
              UpdateIfExists="yes"
              />
            
            <ServiceInstall
              Id="ServiceInstaller"
              Type="ownProcess"
              Vital="yes"
              Name="Hadouken"
              DisplayName="Hadouken BitTorrent client"
              Description="The service for Hadouken BitTorrent client"
              Start="auto"
              Account="[HDKN_SRV_USER]"
              Password="[HDKN_SRV_PASS]"
              Interactive="no"
              ErrorControl="normal"
              />
            
            <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="Hadouken" Wait="yes" />
          </Component>

          <Component Id="Libs" Guid="5FC0B06D-AABD-4384-9987-BD732BDFA568">
            <!-- 3rd party libraries -->
            <File Id="CastleCoreDll" Name="Castle.Core.dll" Source="$(var.BinDir)/Castle.Core.dll" />
            <File Id="FluentNHibernateDll" Name="FluentNHibernate.dll" Source="$(var.BinDir)/FluentNHibernate.dll" />
            <File Id="IesiCollectionsDll" Name="Iesi.Collections.dll" Source="$(var.BinDir)/Iesi.Collections.dll" />
            <File Id="IonicZipDll" Name="Ionic.Zip.dll" Source="$(var.BinDir)/Ionic.Zip.dll" />
            <File Id="MigratorDll" Name="Migrator.dll" Source="$(var.BinDir)/Migrator.dll" />
            <File Id="MigratorFrameworkDll" Name="Migrator.Framework.dll" Source="$(var.BinDir)/Migrator.Framework.dll" />
            <File Id="MigratorProvidersDll" Name="Migrator.Providers.dll" Source="$(var.BinDir)/Migrator.Providers.dll" />
            <File Id="MonoTorrentDll" Name="MonoTorrent.dll" Source="$(var.BinDir)/MonoTorrent.dll" />
            <File Id="NHibernateDll" Name="NHibernate.dll" Source="$(var.BinDir)/NHibernate.dll" />
            <File Id="NinjectDll" Name="Ninject.dll" Source="$(var.BinDir)/Ninject.dll" />
            <File Id="NLogDll" Name="NLog.dll" Source="$(var.BinDir)/NLog.dll" />
            <File Id="SystemDataSQLiteDll" Name="System.Data.SQLite.dll" Source="$(var.BinDir)/System.Data.SQLite.dll" />
            <!--<File Id="SystemDataSQLiteLinqDll" Name="System.Data.SQLite.Linq.dll" Source="$(var.BinDir)/System.Data.SQLite.Linq.dll" />-->
          </Component>

          <Directory Id="WEBUIDIR" Name="WebUI">
            <Component Id="WebUI" Guid="417127BC-1E56-4DF6-870E-D7F00BBE9758">
              <!-- Web UI -->
              <File Id="WebUiZip" Name="webui.zip" Source="$(var.BinDir)/webui.zip" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="Hadouken $(var.BuildVersion)" Description="The full monty. The works." Display="expand" ConfigurableDirectory="INSTALLDIR" Level="1">
      <ComponentRef Id="Hdkn" />
      <ComponentRef Id="HdknImpl" />
      <ComponentRef Id="HdknImplBt" />
      <ComponentRef Id="HdknMsg" />
      <ComponentRef Id="HdknCmdLine" />
      <ComponentRef Id="HdknWinSrv" />
      <ComponentRef Id="WebUI" />
      <ComponentRef Id="Libs" />
    </Feature>
    
    <UI Id="HdknUI">
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <DialogRef Id="WebUIConfigDlg" />
      <DialogRef Id="WinSrvConfigDlg" />

      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="WebUIConfigDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WinSrvConfigDlg" Order="1">NOT Installed</Publish>
    </UI>
    
    <WixVariable Id="WixUIBannerBmp" Value="src/Media/HdknSetupBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="src/Media/HdknSetupDialog.bmp" />
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    
    <Property Id="HDKN_WEBUI_PORT" Value="8080" />
    <Property Id="HDKN_SRV_ENABLE" Value="1" />
    <Property Id="HDKN_SRV_USER" Value="hdkn" />

    <SetProperty Id="HDKN_SRV_USER" Value="$(env.USERDOMAIN)\[LogonUser]" Before="AppSearch" />
  </Product>
</Wix>