<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product
    Id="*"
    Name="Hadouken"
    Manufacturer="Viktor Elofsson - vktr.se"
    Version="$(var.BuildVersion)"
    UpgradeCode="248297a1-a2f4-4d0e-94f5-0d363e0b8e5f"
    Language="1033"
    Codepage="1252">

    <Package Id="*"
             Description="Hadouken $(var.BuildVersion) Installer"
             InstallerVersion="300"
             Languages="1033"
             Compressed="yes"
             SummaryCodepage="1252"
             InstallScope="perMachine" />

    <Media Id="1" Cabinet="hdkn.cab" EmbedCab="yes" />
    
    <MajorUpgrade DowngradeErrorMessage="Installer does not support downgrading." />

    <!-- Check for .NET4Full -->
    <PropertyRef Id="NETFRAMEWORK45"/>

    <Condition Message="Hadouken requires the full .NET Framework 4.5. Please install it and then run the installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Hadouken" />
      </Directory>

      <Directory Id="CommonAppDataFolder" Name="ProgramDataFolder">
        <Directory Id="HdknData" Name="Hadouken">
          <Directory Id="PLUGINDIR" Name="Plugins" />
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="Hadouken $(var.BuildVersion)" Description="Fully equipped." Display="expand" ConfigurableDirectory="INSTALLDIR" Level="1">
      <ComponentGroupRef Id="CoreComponents" />
      <ComponentGroupRef Id="LibComponents" />
      <ComponentGroupRef Id="ServiceComponents" />
      <ComponentGroupRef Id="PluginComponents" />
      <ComponentGroupRef Id="ConfigComponents" />
    </Feature>
    
    <UI Id="HdknUI">
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
    
    <WixVariable Id="WixUIBannerBmp" Value="src/Media/HdknSetupBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="src/Media/HdknSetupDialog.bmp" />

    <!-- Search for installation directory in registry -->
    <Property Id="INSTALLDIR">
      <RegistrySearch Id="SearchInstallDirRegistry" Type="raw" Root="HKLM" Key="Software\Hadouken" Name="InstallDir" />
    </Property>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
  </Product>
</Wix>