<?xml version="1.0" encoding="utf-8" ?>

<?if $(var.Platform) = x64?>
    <?define UpgradeCode = "20ECE40F-2E63-4A9A-A5EB-341154EFB798"?>
    <?define InstallDir  = "ProgramFiles64Folder"?>
    <?define IsWin64     = "yes"?>
<?else?>
    <?define UpgradeCode = "52A66249-5BE7-4F0B-BE83-7C7B7AED65D1"?>
    <?define InstallDir  = "ProgramFilesFolder"?>
    <?define IsWin64     = "no"?>
<?endif?>

<Wix xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
  <Product
    Id="*"
    Name="Hadouken"
    Manufacturer="Viktor Elofsson - vktr.se"
    Version="$(var.BuildVersion)"
    UpgradeCode="$(var.UpgradeCode)"
    Language="1033"
    Codepage="1252">

    <Package Id="*" Description="Hadouken $(var.BuildVersion) ($(var.Platform)) Installer" InstallerVersion="300" Languages="1033" Compressed="yes" SummaryCodepage="1252" Platform="$(var.Platform)" />

    <Media Id="1" Cabinet="hdkn.cab" EmbedCab="yes" />
    
    <MajorUpgrade DowngradeErrorMessage="Installer does not support downgrading." />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.InstallDir)" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Hadouken" />
      </Directory>
    </Directory>

    <Feature Id="Complete" Title="Hadouken $(var.BuildVersion)" Description="The full monty. The works." Display="expand" ConfigurableDirectory="INSTALLDIR" Level="1">
      <ComponentGroupRef Id="CoreComponents" />
      <ComponentGroupRef Id="LibComponents" />
      <ComponentGroupRef Id="ServiceComponents" />
      <ComponentGroupRef Id="FirewallComponents" />
      <ComponentGroupRef Id="ConfigComponents" />
    </Feature>
    
    <UI Id="HdknUI">
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <DialogRef Id="WebUIConfigDlg" />
      <DialogRef Id="WebUIConfigInvalidDlg" />
      <DialogRef Id="WindowsServiceConfigDlg" />
      <DialogRef Id="WindowsServiceConfigInvalidDlg" />

      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="WebUIConfigDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WindowsServiceConfigDlg" Order="1">NOT Installed</Publish>
    </UI>
    
    <WixVariable Id="WixUIBannerBmp" Value="src/Media/HdknSetupBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="src/Media/HdknSetupDialog.bmp" />
    
    <CustomAction Id="NetSHRuleAdd_Cmd" Property="NetSHRuleAdd" Value="&quot;netsh&quot; http add urlacl url=http://+:[HDKN_WEBUI_PORT]/ user=[HDKN_SRV_USER]" Execute="immediate" />
    <CustomAction Id="NetSHRuleAdd" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no" />
    
    <CustomAction Id="NetSHRuleDel_Cmd" Property="NetSHRuleDel" Value="&quot;netsh&quot; http delete urlacl url=http://+:[HDKN_WEBUI_PORT]/" Execute="immediate" />
    <CustomAction Id="NetSHRuleDel" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="no" />

    <Property Id="INSTALLDIR">
      <RegistrySearch Id="SearchRegistry" Type="raw" Root="HKLM" Key="Software\Hadouken" Name="InstallDir" Win64="$(var.IsWin64)" />
    </Property>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    
    <Property Id="HDKN_WEBUI_PORT" Value="8080" />
    <Property Id="HDKN_SRV_ENABLE" Value="1" />
    
    <InstallExecuteSequence>
        <Custom Action="NetSHRuleAdd_Cmd" After="CostFinalize">NOT Installed</Custom>
        <Custom Action="NetSHRuleAdd" After="InstallInitialize">NOT Installed</Custom>
        
        <Custom Action="NetSHRuleDel_Cmd" After="CostFinalize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
        <Custom Action="NetSHRuleDel" Before="InstallFinalize">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>