<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>    
    <UI>
      <Dialog Id="HdknSettingsDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <!-- banner information -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Configuration</Text>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please configure Hadouken to your liking.</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

        <!-- Web UI -->
        <Control Id="WebUIGroup" Type="GroupBox" X="20" Y="60" Width="330" Height="45" Text="Web UI" />
        
        <Control Id="PortLabel" Type="Text" X="30" Y="80" Width="40" Height="15" Text="Port:" />
        
        <Control Id="Port" Type="Edit" X="80" Y="78" Width="30" Height="17" Property="HDKN_WEBUI_PORT" Indirect="no" Integer="yes" Text="[HDKN_WEBUI_PORT]" />
        
        <!-- Service -->
        <Control Id="WinSrvGroup" Type="GroupBox" X="20" Y="115" Width="330" Height="85" Text="Windows Service" />

        <!-- Service Enable -->
        <Control Id="WinSrvEnableLabel" Type="Text" X="30" Y="135" Width="40" Height="15" Text="Enable:" />
        <Control Id="WinSrvEnable" Type="CheckBox" X="80" Y="134" Width="20" Height="15" Indirect="no" Property="HDKN_SRV_ENABLE" CheckBoxValue="1" />
        
        <!-- Service Username -->
        <Control Id="WinSrvUserLabel" Type="Text" X="30" Y="155" Width="40" Height="15" Text="Account:" />
        <Control Id="WinSrvUser" Type="Edit" X="80" Y="153" Width="120" Height="17" Property="HDKN_SRV_USER" Indirect="no" Text="[HDKN_SRV_USER]">
          <Condition Action="enable">HDKN_SRV_ENABLE = 1</Condition>
          <Condition Action="disable"><![CDATA[HDKN_SRV_ENABLE <> 1]]></Condition>
        </Control>
        <Control Id="WinSrvUserDesc" Type="Text" X="210" Y="155" Width="100" Height="15" Text="DOMAIN\Username" Disabled="yes" />
        
        <!-- Service Password -->
        <Control Id="WinSrvPassLabel" Type="Text" X="30" Y="175" Width="40" Height="15" Text="Password:" />
        <Control Id="WinSrvPass" Type="Edit" X="80" Y="173" Width="120" Height="17" Property="HDKN_SRV_PASS" Indirect="no" Text="[HDKN_SRV_PASS]" Password="yes">
          <Condition Action="enable">HDKN_SRV_ENABLE = 1</Condition>
          <Condition Action="disable"><![CDATA[HDKN_SRV_ENABLE <> 1]]></Condition>
        </Control>

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                 
        <!-- back -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        
        <!-- next -->
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
        </Control>
        
        <!-- cancel -->
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>