<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Extensions.ChildKernel" version="3.0.0.5" targetFramework="net40" />
  <package id="Ninject.Extensions.Conventions" version="3.0.0.11" targetFramework="net40" />
</packages>