<div class="modal-header">
    <h3 class="modal-title">Add torrent</h3>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="source" class="col-sm-3 control-label">Source</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" name="source" ng-model="source" value="file"> File
                </label>
                <label class="radio-inline">
                    <input type="radio" name="source" ng-model="source" value="url"> Magnet link
                </label>
            </div>
        </div>
        <div class="form-group" ng-show="source === 'file'">
            <label for="files" class="col-sm-3 control-label">File</label>
            <div class="col-sm-9">
                <input type="file" accept=".torrent" class="form-control" fileread="fileData" />
            </div>
        </div>
        <div class="form-group" ng-show="source === 'url'">
            <label for="url" class="col-sm-3 control-label">URL</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="url" />
            </div>
        </div>
        <div class="form-group">
            <label for="savePath" class="col-sm-3 control-label">Save path</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="savePath" directory-browser directory="savePath" />
            </div>
        </div>
        <div class="form-group">
            <label for="label" class="col-sm-3 control-label">Label</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-model="label" />
                
            </div>
            <div class="col-sm-4">
                <select class="form-control" ng-show="existingLabels.length" ng-model="label">
                    <option value="">Existing labels:</option>
                    <option ng-repeat="label in existingLabels" value="{{ label }}">- {{ label }}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="add(source, fileData, url, '', label, savePath)" ng-disabled="inProgress">Add torrent</button>
</div>