<div class="modal-header">
    <h3 class="modal-title">{{ torrent.Name }}</h3>
</div>
<div class="modal-body">
    <tabset>
        <tab heading="General">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Info Hash</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{ torrent.InfoHash }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Size</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{ torrent.Size | bytes }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Total downloaded</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{ torrent.TotalDownloadedBytes | bytes }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Total uploaded</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{ torrent.TotalUploadedBytes | bytes }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Ratio</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{ torrent | ratio }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Label</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">{{ torrent.Label }}</p>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label class="col-sm-4 control-label">DL. limit</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" ng-model="settings.DownloadRateLimit" />
                    </div>
                    <div class="col-sm-5">
                        <p class="form-control-static"><em>kB/s.</em></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">UL. limit</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" ng-model="settings.UploadRateLimit" />
                    </div>
                    <div class="col-sm-5">
                        <p class="form-control-static"><em>kB/s.</em></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Max conn.</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" ng-model="settings.MaxConnections" />
                    </div>
                    <div class="col-sm-5">
                        <p class="form-control-static"><em>Max open connections.</em></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Max uploads</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" ng-model="settings.MaxUploads" />
                    </div>
                    <div class="col-sm-5">
                        <p class="form-control-static"><em>Max upload slots.</em></p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="button" class="btn btn-primary" ng-click="saveSettings()" ng-disabled="busy">
                            <i class="fa fa-spin fa-spinner" ng-show="busy" />
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </tab>
        <tab heading="Files ({{ files.length }})">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Path</th>
                        <th>Size</th>
                        <th style="text-align: right;">Progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in files">
                        <td>{{ file.Path }}</td>
                        <td>{{ file.Size | bytes }}</td>
                        <td style="text-align: right;">{{ progress[$index] | fileProgress }}%</td>
                        <td>
                            <div class="dropdown pull-right" on-toggle="toggled(open)">
                                <button class="btn btn-xs btn-default dropdown-toggle"><i class="fa fa-bars"></i></button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Priority</li>
                                    <li><a href ng-click="setPriority($index, 0)">Do not download <i class="fa fa-check" ng-show="priorities[$index] == 0"></i></a></li>
                                    <li><a href ng-click="setPriority($index, 1)">Normal <i class="fa fa-check" ng-show="priorities[$index] == 1"></i></a></li>
                                    <li><a href ng-click="setPriority($index, 7)">Highest <i class="fa fa-check" ng-show="priorities[$index] == 7"></i></a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Peers ({{ peersCount }})">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>DL Speed</th>
                        <th>UL Speed</th>
                        <th style="text-align: right;">Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(ip, peer) in peers | orderBy:'IP':'asc'">
                        <td>{{ peer.IP }}</td>
                        <td>{{ peer.DownloadSpeed | speed }}</td>
                        <td>{{ peer.UploadSpeed | speed }}</td>
                        <td style="text-align: right;">{{ peer.Progress | fileProgress }}%</td>
                    </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>