<style>
    #tbody-torrents-list tr td {
        vertical-align: middle;
    }
</style>

<h1 class="page-header">
    Torrents
    <button class="btn btn-xs btn-primary" ng-click="showAdd()"><i class="fa fa-plus"></i></button>
</h1>

<table class="table table-striped table-hover" id="tbl-torrents-list">
    <thead>
        <tr>
            <th style="width: 24px; white-space: nowrap;">
                <a href ng-click="sort('QueuePosition', 'asc')" ng-show="sortField !== 'QueuePosition'"># <i class="fa fa-sort"></i></a>
                <a href ng-click="sort('QueuePosition', 'asc')" ng-show="sortField === 'QueuePosition' && sortDirection === 'desc'"># <i class="fa fa-sort-asc"></i></a>
                <a href ng-click="sort('QueuePosition', 'desc')" ng-show="sortField === 'QueuePosition' && sortDirection === 'asc'"># <i class="fa fa-sort-desc"></i></a>
            </th>
            <th>
                <a href ng-click="sort('Name', 'asc')" ng-show="sortField !== 'Name'">Name <i class="fa fa-sort"></i></a>
                <a href ng-click="sort('Name', 'asc')" ng-show="sortField === 'Name' && sortDirection === 'desc'">Name <i class="fa fa-sort-asc"></i></a>
                <a href ng-click="sort('Name', 'desc')" ng-show="sortField === 'Name' && sortDirection === 'asc'">Name <i class="fa fa-sort-desc"></i></a>
            </th>
            <th></th>
            <th style="width: 15%;">State</th>
            <th style="width: 10%;">
                <a href ng-click="sort('Progress', 'asc')" ng-show="sortField !== 'Progress'">Progress <i class="fa fa-sort"></i></a>
                <a href ng-click="sort('Progress', 'asc')" ng-show="sortField === 'Progress' && sortDirection === 'desc'">Progress <i class="fa fa-sort-asc"></i></a>
                <a href ng-click="sort('Progress', 'desc')" ng-show="sortField === 'Progress' && sortDirection === 'asc'">Progress <i class="fa fa-sort-desc"></i></a>
            </th>
            <th style="width: 120px;">Size</th>
            <th style="width: 120px">DL Speed</th>
            <th style="width: 120px">UL Speed</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody id="tbody-torrents-list">
        <tr ng-repeat="torrent in torrents | sort:sortField:sortDirection" class="torrent-row">
            <td>{{ torrent.QueuePosition | prettyQueue }}</td>
            <td>
                <div style="white-space: nowrap;"><a href ng-click="showDetails(torrent.InfoHash)">{{ torrent.Name }}</a></div>
                <small class="savePath">{{ torrent.SavePath }}</small>
            </td>
            <td>
                <span class="dropdown" on-toggle="toggled(open)">
                    <button class="btn btn-xs btn-default dropdown-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu">
                        <li><a href ng-click="changeLabel(torrent.InfoHash)"><i class="fa fa-tag"></i> Change label</a></li>
                        <li><a href ng-click="move(torrent.InfoHash)"><i class="fa fa-sign-out"></i> Move</a></li>
                        <li class="divider"></li>

                        <!-- Queuing -->
                        <li class="dropdown-header">Queuing</li>
                        <li><a href ng-click="queuePosUp(torrent.InfoHash)"><i class="fa fa-angle-up"></i> Up</a></li>
                        <li><a href ng-click="queuePosDown(torrent.InfoHash)"><i class="fa fa-angle-down"></i> Down</a></li>
                        <li><a href ng-click="queuePosTop(torrent.InfoHash)"><i class="fa fa-angle-double-up"></i> Top</a></li>
                        <li><a href ng-click="queuePosBottom(torrent.InfoHash)"><i class="fa fa-angle-double-down"></i> Bottom</a></li>

                        <li class="divider"></li>
                        <li><a href ng-click="remove(torrent.InfoHash)"><i class="fa fa-trash-o"></i> Remove</a></li>
                        <li><a href ng-click="removeWithFiles(torrent.InfoHash)"><i class="fa fa-trash-o"></i>Remove with files</a></li>
                    </ul>
                </span>
            </td>
            <td>
                <span class="state">{{ torrent.State }}</span>
                <span class="state-progress">{{ torrent | torrentProgress }}</span>
            </td>
            <td>
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" ng-style="{width: (torrent.Progress * 100) + '%'}"></div>
                </div>
            </td>
            <td>{{ torrent.Size | bytes }}</td>
            <td><span class="dlSpeed">{{ torrent.DownloadSpeed | speed}}</span></td>
            <td><span class="ulSpeed">{{ torrent.UploadSpeed | speed }}</span></td>
            <td>
                <div class="actions pull-right">
                    <button type="button" class="btn btn-primary" ng-click="resume(torrent.InfoHash)" ng-show="torrent.Paused"><i class="fa fa-play"></i></button>
                    <button type="button" class="btn btn-primary" ng-click="pause(torrent.InfoHash)" ng-show="!torrent.Paused"><i class="fa fa-pause"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>