<h1 class="page-header">BitTorrent settings</h1>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" role="form" method="POST">
            <div class="row">
                <div class="col-md-12">
                    <h2>General</h2>

                    <div class="form-group">
                        <label for="savePath" class="control-label col-md-3">Default save path</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="config.Plugin.DefaultSavePath" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>Connection</h2>

                    <div class="form-group">
                        <label for="listenPort" class="control-label col-md-3">Listen port</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" ng-model="config.Plugin.ListenPort" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="globalMaxConnections" class="control-label col-md-3">Global max conn.</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" ng-model="config.Session.GlobalMaxConnections" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="globalMaxHalfOpenConnections" class="control-label col-md-3">Global max half open conn.</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" ng-model="config.Session.GlobalMaxHalfOpenConnections" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="globalMaxDlSpeed" class="control-label col-md-3">Global max dl speed</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" ng-model="config.Session.GlobalMaxDownloadSpeed" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="globalMaxUlSpeed" class="control-label col-md-3">Global max ul speed</label>
                        <div class="col-md-2">
                            <input type="number" class="form-control" ng-model="config.Session.GlobalMaxUploadSpeed" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary" ng-click="save(config)">Save settings</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>