<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8' />
        
        <link rel="stylesheet" type="text/css" media="screen" href="/css/dxstable.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
        
        <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/dialogs.js"></script>
        <script type="text/javascript" src="/js/dnd.js"></script>
        <script type="text/javascript" src="/js/dxstable.js"></script>
        <script type="text/javascript" src="/js/network.js"></script>
        <script type="text/javascript" src="/js/converter.js"></script>
        <script type="text/javascript" src="/js/formatter.js"></script>
        <script type="text/javascript" src="/js/contextmenu.js"></script>
        <script type="text/javascript" src="/js/webui.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        
        <title>Hadouken</title>
    </head>

    <body>
        <div id="modalbg"></div>
        <div id="dragmask"></div>


        <div id="toolbar">
            <a id="mnu_add" href="#" onclick="WebUI.showAddTorrent(); return false;"><div id="add"></div></a>
            
            <div class="separator"></div>
            
            
        </div>
        
        <div id="categories">
            <div class="panel" id="state">State</div>
            
            <ul id="state_content" class="panel_content">
                <li id="-_-_-all-_-_-" class="sel cat">All (<span id="-_-_-all-_-_-c">0</span>)</li>
                <li id="-_-_-dls-_-_-" class="cat">Downloading (<span id="-_-_-dls-_-_-c">0</span>)</li>
                <li id="-_-_-com-_-_-" class="cat">Completed (<span id="-_-_-com-_-_-c">0</span>)</li>
                <li id="-_-_-act-_-_-" class="cat">Active (<span id="-_-_-act-_-_-c">0</span>)</li>
                <li id="-_-_-iac-_-_-" class="cat">Inactive (<span id="-_-_-iac-_-_-c">0</span>)</li>
                <li id="-_-_-err-_-_-" class="cat">Error (<span id="-_-_-err-_-_-c">0</span>)</li>
            </ul>
        </div>
    
        <div id="torrents"></div>
        
        <div id="statusbar"></div>
    </body>
</html>
