<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Hadouken - Setup</title>

        <link rel="Stylesheet" type="text/css" href="/css/setup.css" />

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/js/setup.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <h1>Hadouken</h1>

            <p class="intro">
                Welcome to Hadouken. This page will guide you through the setup of Hadouken. You will set some basic configuration settings and then you're good to go.
            </p>

            <ul>
                <li class="icon http_auth">
                    <h2>HTTP Authentication</h2>

                    <p>The username and password you set here will be used to access Hadouken, so do remember it!</p>

                    <div class="form">
                        <div class="row">
                            <label for="http_username">Username</label> <input type="text" name="http_username" id="http_username" class="input" />
                        </div>

                        <div class="clear"></div>

                        <div class="row">
                            <label for="http_password">Password</label> <input type="password" name="http_password" id="http_password" class="input" />
                        </div>
                    </div>
                </li>

                <li class="icon bt_savepath">
                    <h2>Default save path</h2>

                    <p>This is the path where downloaded files will be saved by default.</p>

                    <div class="form">
                        <div class="row">
                            <label for="bt_savepath">Save path</label> <input type="text" name="bt_savepath" id="bt_savepath" class="input" />
                        </div>
                    </div>
                </li>

                <li class="icon bt_port">
                    <h2>Network settings</h2>

                    <p>Please provide a port to be used for BitTorrent connections. It should be open and connectable for maximum performance.</p>

                    <div class="form">
                        <div class="row">
                            <label for="bt_port">Port</label> <input type="text" name="bt_port" id="bt_port" class="input" />
                        </div>
                    </div>
                </li>
            </ul>

            <div class="finish">
                <button id="save">Alright, I'm done</button>
            </div>
        </div>
    </body>
</html>