<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-lock"></i> API keys</h3>
</div>
<div class="modal-body">
    <p>Your API key(s) can give third-party applications access to your Hadouken instance without you exposing your username
    or password.</p>
    
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">API key</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{ apiKey }}</p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>