<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-shield"></i> Change password</h3>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">User</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{ userName }}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="currentPassword" class="col-sm-4 control-label">Current password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="currentPassword" ng-model="currentPassword" />
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label for="newPassword" class="col-sm-4 control-label">New password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="newPassword" ng-model="newPassword" />
            </div>
        </div>

        <div class="form-group">
            <label for="repeatPassword" class="col-sm-4 control-label">Repeat password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="repeatPassword" ng-model="repeatPassword" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="changePassword(userName, currentPassword, newPassword)" ng-disabled="!valid(currentPassword, newPassword, repeatPassword) || busy">
        <i class="fa fa-spin fa-spinner" ng-show="busy" />
        Change
    </button>
</div>