@{
    Layout = "Shared/Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="/Scripts/Events.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <h1>Event viewer</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="eventsTable" class="table table-striped table-hover">
			<thead>
				<tr>
					<th style="width: 140px;">Time</th>
					<th style="width: 200px;">Name</th>
					<th>Data</th>
				</tr>
			</thead>

			<tbody id="eventsList">
			</tbody>
		</table>
    </div>
</div>