@{
    Layout = "Shared/Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="/Scripts/JsonRpcDebugger.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <h1>JSON RPC Debugger</h1>

        <p>Allows you to send arbitrary JSON to the different plugins and their JSON RPC services. Great for debugging!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>JSONRPC</h3>

        <div class="row">
            <div class="col-md-12">
                <textarea style="width: 100%; height: 300px; font-family: monospace;" id="json">{
  "id": 1,
  "jsonrpc": "2.0",
  "method": "core.plugins.list",
  "params": null
}</textarea>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-offset-6 col-md-6">
                <button type="button" class="btn btn-primary pull-right" id="btn-send-json">Send JSON</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Result</h3>

        <div class="row">
            <div class="col-md-12">
                <textarea style="width: 100%; height: 300px; font-family: monospace;" id="result"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>Response time: <span id="responseTime">-</span> ms</p>
            </div>
        </div>
    </div>
</div>