@{
    Layout = "Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Log files</h1>

        <p>Curious about what happens behind the scenes? This is what has been logged since Hadouken started.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Level</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model.Events)
                {
                    <tr>
                        <td>@e.Timestamp</td>
                        <td>@e.Level</td>
                        <td>@e.Message</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>