@{
    Layout = "Shared/Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Log files</h1>

        <p>Curious about what happens behind the scenes? This is what has been logged since Hadouken started.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <pre>@Model.Log</pre>
    </div>
</div>