<widget controller="Widgets.PluginListController">
    <table class="table table-striped" ng-show="display == 'normal'">
        <thead>
            <tr>
                <th>Name</th>
                <th style="width: 25%;">Version</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="plugin in plugins">
                <td>{{ plugin.Name }}</td>
                <td>{{ plugin.Version }}</td>
            </tr>
        </tbody>
    </table>

    <div ng-show="display == 'config'">
        <input type="text" class="form-control" ng-model="config.message" />
    </div>
</widget>