<div class="widget" ng-class="sizeClass">
    <div class="panel panel-default">
        <div class="panel-heading widget-heading">
            <div class="pull-right">
                <span class="dropdown" on-toggle="toggled(open)">
                    <a href class="dropdown-toggle">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-trash-o"></i> Remove</a></li>
                    </ul>
                </span>
            </div>
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
        </div>
    </div>
</div>