<div class="widget" ng-class="sizeClass">
    <div class="panel panel-default">
        <div class="panel-heading widget-heading">
            <div class="pull-right">
                <span class="dropdown" on-toggle="toggled(open)">
                    <a href class="dropdown-toggle">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-class="{'disabled': display === 'config'}" ng-show="hasConfiguration"><a href="#" ng-click="display = 'config'"><i class="fa fa-edit"></i> Configure</a></li>
                        <li ng-show="hasConfiguration" class="divider"></li>
                        <li><a href="#"><i class="fa fa-trash-o"></i> Remove</a></li>
                    </ul>
                </span>
            </div>
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
            <div class="widget-body"></div>

            <div ng-show="display === 'config'">
                <hr style="margin-bottom: 10px" />
                <div class="pull-right">
                    <button class="btn btn-default btn-xs" type="button" ng-click="display = 'normal'">Cancel</button>
                    <button class="btn btn-primary btn-sm" type="button" ng-click="saveConfig()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>