<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>      
            <Dialog Id="WelcomeDlg" Width="370" Height="270" Title="[ProductName] [Setup]" NoMinimize="yes">
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="HdknUI_Bmp_Banner" />

                <Control Id="Title" Type="Text" X="10" Y="12" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\DlgTitleFont}Install [ProductName]" />

                <Control Id="Description" Type="Text" X="10" Y="50" Width="350" Height="45" Transparent="yes" NoPrefix="yes">
                    <Text>This will guide you through the installation of Hadouken. Hadouken is open source software and is provided free-of-charge under the MIT license.</Text>
                </Control>

                <Control Id="LicenseText" Type="ScrollableText" X="10" Y="80" Width="350" Height="145" Sunken="yes" TabSkip="no">
                    <Text SourceFile="!(wix.HdknUILicenseRtf)" />
                </Control>

                <!-- Version and revision -->
                <Control Id="Version" Type="Text" X="10" Y="248" Width="100" Height="17" Disabled="yes" NoPrefix="yes" Text="v$(var.BuildVersion) (rev: $(var.GitCommitish))" />

                <!-- Buttons -->
                <Control Id="Back" Type="PushButton" X="180" Y="245" Width="56" Height="17" Text="Back" Disabled="yes" />

                <Control Id="Next" Type="PushButton" X="236" Y="245" Width="56" Height="17" Default="yes" Text="Next" />

                <Control Id="Cancel" Type="PushButton" X="304" Y="245" Width="56" Height="17" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>
