<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
		<section name="hdkn" type="Hadouken.Configuration.ApplicationConfigurationSection, Hadouken" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<hdkn instanceName="Hadouken" dataPath="./Data/">
    <http hostBinding="localhost" port="7890">
      <auth userName="test" password="9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08" />
    </http>

		<plugins baseDirectory="./Plugins/">
			<plugin id="core.webui" path="../../../../Plugins/WebUI/Hadouken.Plugins.WebUI/bin/Debug/" />
			<plugin id="core.config" path="../../../../Plugins/Config/Hadouken.Plugins.Config/bin/Debug/" />
			<plugin id="core.torrents" path="../../../../Plugins/Torrents/Hadouken.Plugins.Torrents/bin/Debug/" />
		</plugins>
	</hdkn>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="console" xsi:type="ColoredConsole" layout="${time} ${message} ${exception:format=tostring}" />
		</targets>

		<rules>
			<logger name="*" writeTo="console" />
		</rules>
	</nlog>
	
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>