<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.0" targetFramework="net45" />
  <package id="Autofac.Wcf" version="3.0.0" targetFramework="net45" />
  <package id="Hadouken.Fx" version="1.0.17" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
</packages>