* { -webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,1.0); }
html, body {border: 0; margin: 0; padding: 0; cursor: default; overflow: hidden; background-color: #F5F5F5; height: 100%; }


/* toolbar */
div#toolbar {width: 100%; height: 36px; background: #F0F0F0 url(/img/t_bg.png) repeat-x center center; line-height: 36px; border-bottom: 1px solid #D0D0D0; white-space: nowrap}
div#toolbar a {float: left; margin: 3px 0 0 5px; padding: 3px}
div#toolbar a:hover {background: transparent url(/img/tb_bg.gif) no-repeat scroll center center}
div#toolbar a:active {padding: 4px 2px 2px 4px}
div#toolbar div {width: 24px; height: 24px; float: left; cursor: pointer}
div#toolbar div.separator {width: 1px; height: 22px; margin: 7px 0 0 5px; padding: 0; border: 0; background-color: #A0A0A0}

div#toolbar div#add {background: transparent url(/img/toolbar.png) no-repeat -24px center}
div#toolbar div#create {background: transparent url(/img/toolbar.png) no-repeat -48px center}
div#toolbar div#remove {background: transparent url(/img/toolbar.png) no-repeat -72px center}
div#toolbar div#start {background: transparent url(/img/toolbar.png) no-repeat -96px center}
div#toolbar div#pause {background: transparent url(/img/toolbar.png) no-repeat -120px center}
div#toolbar div#stop {background: transparent url(/img/toolbar.png) no-repeat -144px center}
div#toolbar div#moveu {background: transparent url(/img/toolbar.png) no-repeat -168px center}
div#toolbar div#moved {background: transparent url(/img/toolbar.png) no-repeat -192px center}
div#toolbar div#search {background: transparent url(/img/toolbar.png) no-repeat -216px center}
div#toolbar div#rss {background: transparent url(/img/toolbar.png) no-repeat -240px center}
div#toolbar div#setting {background: transparent url(/img/toolbar.png) no-repeat -264px center}


div#torrents {border: 1px solid #A0A0A0;}
