body 
{
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, Sans-Serif;
}

.wrapper 
{
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}

.wrapper h1 
{
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
}

.form .row label 
{
    display: block;
    float: left;
    font-weight: bold;
    width: 120px;
    line-height: 25px;
    margin: 3px 10px 3px 0;
}

.form .row .input{
    font-family: Arial, Verdana;
    border: 1px solid #b9bdc1;
    width: 300px;
    padding: 3px;
    margin: 3px 0;
    color: #797979;
}

.clear 
{
    clear: both;}