<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    <ComponentGroup Id="ConfigComponents" Directory="INSTALLDIR" Source="$(var.ConfigDir)/">
      <Component>
        <File Id="HdknWinSrvCfg" Name="Hadouken.Service.exe.config" />
        <util:XmlFile Id="ModifyWebUIPort"
                      File="[#HdknWinSrvCfg]"              
                      Action="setValue"
                      ElementPath="//configuration/hdkn/http/@port"
                      Value="[HDKN_WEBUI_PORT]" />
      </Component>

      <Component>
        <RegistryKey Root="HKLM" Key="Software\Hadouken">
          <RegistryValue Type="string" Name="InstallDir" Value="[INSTALLDIR]"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>