<?xml version="1.0" encoding="utf-8" ?>

<?if $(var.Platform) = x64?>
    <?define IsWin64     = "yes"?>
<?else?>
    <?define IsWin64     = "no"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <ComponentGroup Id="ConfigComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component Win64="$(var.IsWin64)">
        <File Id="HdknWinSrvCfg" Name="Hadouken.Hosts.WindowsService.exe.config" />
      </Component>

      <Component Win64="$(var.IsWin64)">
        <RegistryKey Root="HKLM" Key="Software\Hadouken">
          <RegistryValue Type="string" Name="InstallDir" Value="[INSTALLDIR]"/>
        </RegistryKey>
      </Component>
      
      <Component Win64="$(var.IsWin64)">
        <RegistryKey Root="HKLM" Key="Software\Hadouken">
          <RegistryValue Type="string" Name="webui.port" Value="[HDKN_WEBUI_PORT]"/>
        </RegistryKey>
      </Component>
      
      <Component Win64="$(var.IsWin64)">
        <RegistryKey Root="HKLM" Key="Software\Hadouken">
          <RegistryValue Type="string" Name="service.enabled" Value="[HDKN_SRV_ENABLE]"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>