<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CoreComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Common.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Core.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Extensions.AutoAdd.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Extensions.Mailer.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Extensions.Pushalot.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Extensions.Pushbullet.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Extensions.Pushover.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Extensions.Rss.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Localization.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="WebComponents" Directory="HDKNDATA" Source="$(var.BinDir)\Web\">
      <Component>
        <File Name="web.zip" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>