<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Fragment>
    <ComponentGroup Id="CoreComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Fx.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Plugins.Isolation.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>