<?xml version="1.0" encoding="utf-8" ?>

<?if $(var.Platform) = x64?>
    <?define IsWin64     = "yes"?>
<?else?>
    <?define IsWin64     = "no"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
	 xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">

  <Fragment>
    <ComponentGroup Id="CoreComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component Win64="$(var.IsWin64)">
        <File Name="Hadouken.dll" />
      </Component>

      <Component Win64="$(var.IsWin64)">
        <File Name="Hadouken.DI.Ninject.dll" />
      </Component>

      <Component Win64="$(var.IsWin64)">
        <File Name="Hadouken.Impl.dll" />
      </Component>

      <Component Win64="$(var.IsWin64)">
        <File Name="Hadouken.Impl.BitTorrent.dll" />
      </Component>

      <Component Win64="$(var.IsWin64)">
        <File Name="Hadouken.Http.HttpServer.dll" />
      </Component>

      <Component Win64="$(var.IsWin64)">
        <File Name="Hadouken.Messages.dll" />
      </Component>

      <Component Win64="$(var.IsWin64)">
        <Condition><![CDATA[HDKN_SRV_ENABLE <> 1]]></Condition>
        <File Name="Hadouken.Hosts.WindowsService.exe" />
      </Component>


      <Component Win64="$(var.IsWin64)">
        <File Name="webui.zip" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>