<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="AutoAddExtensionComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Extensions.AutoAdd.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="AutoMoveExtensionComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Extensions.AutoMove.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="HipChatExtensionComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Extensions.HipChat.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="KodiExtensionComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Extensions.Kodi.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="MailerExtensionComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Extensions.Mailer.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PushalotExtensionComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Extensions.Pushalot.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PushbulletExtensionComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Extensions.Pushbullet.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="PushoverExtensionComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Extensions.Pushover.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="RssExtensionComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component>
        <File Name="Hadouken.Extensions.Rss.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>