<?xml version="1.0" encoding="utf-8" ?>

<?if $(var.Platform) = x64?>
    <?define IsWin64     = "yes"?>
<?else?>
    <?define IsWin64     = "no"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	   xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">

  <Fragment>
    <ComponentGroup Id="FirewallComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component Id="FirewallExceptions" Guid="{60E1CAFD-D119-4394-A9E5-61EB789157BB}" Win64="$(var.IsWin64)">
		<CreateFolder />
        <fw:FirewallException Id="HadoukenFirewallException" Name="Hadouken" Scope="any" Protocol="tcp" Profile="all" Port="[HDKN_WEBUI_PORT]" IgnoreFailure="no" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>