<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="PowerShellComponents" Directory="HDKNPOSHDIR" Source="$(var.BinDir)\Tools\PowerShellModules\Hadouken.Tools.Posh\">
      <Component>
        <File Name="Hadouken.Tools.Posh.dll" />
      </Component>

      <Component>
        <File Name="Hadouken.Tools.Posh.psd1" />
      </Component>

      <Component Id="HadoukenPowerShellModulePath" Guid="4cb15170-506c-497f-8129-20e45a52b9b3">
        <Environment Id="HadoukenPowerShellModulePath" Action="set" Name="PSModulePath" Part="last" Permanent="no" System="yes" Value="[POSHMODULESDIR]" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>