<?xml version="1.0" encoding="utf-8" ?>

<?if $(var.Platform) = x64?>
    <?define IsWin64     = "yes"?>
<?else?>
    <?define IsWin64     = "no"?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	   xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    <ComponentGroup Id="ServiceComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component Id="HadoukenService" Guid="{AFDC9F44-F9F3-4DBC-BBE0-8A49E272F9CE}" Win64="$(var.IsWin64)">
        <Condition><![CDATA[HDKN_SRV_ENABLE = 1]]></Condition>
        <File Id="HadoukenServiceExecutable" Name="Hadouken.Hosts.WindowsService.exe" />

        <util:User Id="UpdateUserLogonAsService"
                    CreateUser="no"
                    LogonAsService="yes"
                    Name="[HDKN_SRV_USER]"
                    UpdateIfExists="yes" />

        <ServiceInstall Id="ServiceInstaller"
                    Type="ownProcess"
                    Vital="yes"
                    Name="Hadouken"
                    DisplayName="Hadouken BitTorrent client"
                    Description="The service for Hadouken BitTorrent client"
                    Start="auto"
                    Account="[HDKN_SRV_USER]"
                    Password="[HDKN_SRV_PASS]"
                    Interactive="no"
                    ErrorControl="normal" />

        <!-- Start service on installation -->
        <ServiceControl Id="StartService" Start="install" Name="Hadouken" Wait="yes" />
        
        <!-- Stop and remove service on uninstallation -->
        <ServiceControl Id="StopService" Stop="both" Name="Hadouken" Wait="yes" Remove="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>