<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ConfigComponents" Directory="HDKNDATA">
      <Component>
        <File Name="config.json.template" Source="$(var.BinDir)\hadoukend.json.template" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
