<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Hadouken" />
      </Directory>

      <Directory Id="CommonAppDataFolder" Name="ProgramDataFolder">
        <Directory Id="HDKNDATA" Name="Hadouken" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>
