<?xml version="1.0" encoding="utf-8" ?>

<?if $(var.BuildConfiguration) = Debug ?>
  <?define BoostSuffix = "-gd" ?>
  <?define PocoSuffix = "d" ?>
<?else ?>
  <?define BoostSuffix = "" ?>
  <?define PocoSuffix = "" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Hadouken"
    Manufacturer="Viktor Elofsson - viktorelofsson.se"
    Version="$(var.BuildVersion)"
    UpgradeCode="f37e1bf1-cbf8-4a28-92c2-f3f07ea79b8f"
    Language="1033"
    Codepage="1252">

    <Package Id="*" InstallScope="perMachine" Compressed="yes" />

    <Media Id="1" Cabinet="hdkn.cab" EmbedCab="yes" />
    
    <MajorUpgrade DowngradeErrorMessage="Installer does not support downgrading." Schedule="afterInstallInitialize" />
    
    <!-- Search for installation directory in registry -->
    <Property Id="INSTALLDIR">
      <RegistrySearch Id="SearchInstallDirRegistry" Type="raw" Root="HKLM" Key="Software\Hadouken" Name="InstallDir" />
    </Property>

    <!-- Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="Hadouken">
          <!-- Components -->
          <Component Id="boostchrono">
            <File Name="boost_chrono-vc120-mt$(var.BoostSuffix)-1_57.dll" Source="$(var.BinDir)\boost_chrono-vc120-mt$(var.BoostSuffix)-1_57.dll" />
          </Component>

          <Component Id="boostdatetime">
            <File Name="boost_date_time-vc120-mt$(var.BoostSuffix)-1_57.dll" Source="$(var.BinDir)\boost_date_time-vc120-mt$(var.BoostSuffix)-1_57.dll" />
          </Component>

          <Component Id="boostsystem">
            <File Name="boost_system-vc120-mt$(var.BoostSuffix)-1_57.dll" Source="$(var.BinDir)\boost_system-vc120-mt$(var.BoostSuffix)-1_57.dll" />
          </Component>

          <Component Id="boostthread">
            <File Name="boost_thread-vc120-mt$(var.BoostSuffix)-1_57.dll" Source="$(var.BinDir)\boost_thread-vc120-mt$(var.BoostSuffix)-1_57.dll" />
          </Component>

          <Component Id="hadouken">
            <File Name="hadouken.exe" Source="$(var.BinDir)\hadouken.exe" />
          </Component>

          <Component Id="libeay32">
            <File Name="libeay32.dll" Source="$(var.BinDir)\libeay32.dll" />
          </Component>

          <Component Id="PocoFoundation">
            <File Name="PocoFoundation$(var.PocoSuffix)" Source="$(var.BinDir)\PocoFoundation$(var.PocoSuffix).dll" />
          </Component>

          <Component Id="PocoJSON">
            <File Name="PocoJSON$(var.PocoSuffix)" Source="$(var.BinDir)\PocoJSON$(var.PocoSuffix).dll" />
          </Component>

          <Component Id="PocoNet">
            <File Name="PocoNet$(var.PocoSuffix)" Source="$(var.BinDir)\PocoNet$(var.PocoSuffix).dll" />
          </Component>

          <Component Id="PocoNetSSL">
            <File Name="PocoNetSSL$(var.PocoSuffix)" Source="$(var.BinDir)\PocoNetSSL$(var.PocoSuffix).dll" />
          </Component>

          <Component Id="PocoUtil">
            <File Name="PocoUtil$(var.PocoSuffix)" Source="$(var.BinDir)\PocoUtil$(var.PocoSuffix).dll" />
          </Component>

          <Component Id="PocoXML">
            <File Name="PocoXML$(var.PocoSuffix)" Source="$(var.BinDir)\PocoXML$(var.PocoSuffix).dll" />
          </Component>

          <Component Id="ssleay32">
            <File Name="ssleay32.dll" Source="$(var.BinDir)\ssleay32.dll" />
          </Component>

          <Component Id="torrent">
            <File Name="torrent.dll" Source="$(var.BinDir)\torrent.dll" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <!-- Features -->
    <Feature Id="Complete" Level="1">
      <ComponentRef Id="boostchrono" />
      <ComponentRef Id="boostdatetime" />
      <ComponentRef Id="boostsystem" />
      <ComponentRef Id="boostthread" />
      <ComponentRef Id="hadouken" />
      <ComponentRef Id="libeay32" />
      <ComponentRef Id="PocoFoundation" />
      <ComponentRef Id="PocoJSON" />
      <ComponentRef Id="PocoNet" />
      <ComponentRef Id="PocoNetSSL" />
      <ComponentRef Id="PocoUtil" />
      <ComponentRef Id="PocoXML" />
      <ComponentRef Id="ssleay32" />
      <ComponentRef Id="torrent" />
    </Feature>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <!-- The UI parts -->
    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
