body {
  padding-top: 70px;
  padding-bottom: 30px;
  background:url("http://subtlepatterns.com/patterns/congruent_outline.png");
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
.nabar{
	background:none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color:white;
}

.nav-tabs {
  margin-bottom: 15px;
}


.hidden {
  display: none;
}

/* WIDGET */
.widget .panel-heading {
  cursor: pointer;
}

.widget-outline {
  border: 1px dashed #000;
  position: absolute;
}

/* Sign in */
.form-signin {
	margin-left:auto;
	margin-right:auto;
	width:400px;
	background-color:white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.75);
	padding:20px;
	border-radius: 10px;
}
.form-signin button {
	margin-top:10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  height: auto;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-top: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .text-center img{
	width:175px;
}


/* Content Container */
#main-container{
	background-color:white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.75);
	padding:20px;
}
.page-header{
	margin-top:5px;
}