<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Details for plugin '@Model.Name'</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="details-body">
                    <table class="table">
                        <tr>
                            <td style="width: 25%;"><strong>Name</strong></td>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <td style="width: 25%;"><strong>Version</strong></td>
                            <td>@Model.Version</td>
                        </tr>
                        <tr>
                            <td style="width: 25%;"><strong>Path</strong></td>
                            <td><div style="white-space: nowrap;overflow-x: auto;">@Model.Path</div></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-uninstall-plugin" type="button" class="btn btn-danger btn-sm pull-left">Uninstall</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>