@{
    Layout = "Shared/Layout.cshtml";
}

@section Scripts
{
    @foreach (var script in Model.Scripts)
    {
        <script type="text/javascript" src="/plugins/@Model.PluginId/@script"></script>   
    }
}

<div class="row">
    <div class="col-lg-12">
        <h1>Settings for '@Model.PluginId'</h1>
    </div>
</div>

<div id="settings-container">
    @Html.Raw(Model.Template)
</div>