<?xml version="1.0" encoding="utf-8" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="ServiceComponents" Directory="INSTALLDIR" Source="$(var.BinDir)\">
      <Component Id="HadoukenService">
        <File Id="HadoukenServiceExecutable" Name="hadoukend.exe" />

        <ServiceInstall Id="ServiceInstaller"
                        Type="ownProcess"
                        Vital="yes"
                        Name="Hadouken"
                        DisplayName="Hadouken"
                        Description="The service for Hadouken BitTorrent client"
                        Start="auto"
                        Interactive="no"
                        ErrorControl="normal" />

        <ServiceControl Id="ServiceController" Start="install" Stop="both" Remove="uninstall" Name="Hadouken" Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
