<h1 class="page-header">
    RSS settings
    <button class="btn btn-xs btn-primary" ng-click="addFeed()">Add feed</button>
</h1>

<tabset>
    <tab heading="General">
        <p>General settings</p>
    </tab>

    <tab ng-repeat="feed in feeds" select="getFilters(feed.Id)">
        <tab-heading>
            {{ feed.Name }}
        </tab-heading>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-1">Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="feed.Name" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1">URL</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="feed.Url" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-1">Updated</label>
                <div class="col-sm-11">
                    <p class="form-control-static">{{ feed.LastUpdatedTime | date:'yyyy-MM-dd HH:mm:ss Z' }}</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <p class="form-control-static">
                        <h3>
                            Filters
                            <button class="btn btn-primary btn-xs" ng-click="upsertFilter(feed)">Add filter</button>
                        </h3>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Include</th>
                                    <th>Exclude</th>
                                    <th>Modifiers</th>
                                    <th>Autostart</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="filter in filters">
                                    <td>{{ filter.IncludePattern }}</td>
                                    <td>{{ filter.ExcludePattern }}</td>
                                    <td>{{ filter.Modifiers.length }}</td>
                                    <td><i class="fa fa-check" ng-show="filter.AutoStart"></i></td>
                                    <td>
                                        <div class="pull-right">
                                            <button class="btn btn-xs btn-warning" ng-click="upsertFilter(feed, filter)"><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-xs btn-danger" ng-click="removeFilter(feed, filter)"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
            </div>
        </form>
    </tab>
</tabset>