<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net45" />
  <package id="Autofac.Wcf" version="3.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.88.0" targetFramework="net45" />
</packages>