<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="ConfigureInvalidDlg" Width="260" Height="85" Title="Hadouken Setup">        
        <Control Id="Text" Type="Text" X="15" Y="15" Width="194" Height="30" NoPrefix="yes" Text="The configuration is not valid." />

        <Control Id="Ok" Type="PushButton" X="132" Y="57" Width="56" Height="17" Default="yes" Cancel="yes" Text="OK">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>