<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>    
    <UI>
      <Dialog Id="ConfigureDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <!-- banner information -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Configuration</Text>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Configure the web UI settings.</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

        <!-- Web UI -->
        <Control Id="WebUIGroup" Type="GroupBox" X="20" Y="60" Width="330" Height="45" Text="Web UI" />
        
        <Control Id="PortLabel" Type="Text" X="30" Y="80" Width="40" Height="15" Text="Port:" />        
        <Control Id="Port" Type="Edit" X="80" Y="78" Width="30" Height="17" Property="HDKN_WEBUI_PORT" Indirect="no" Integer="yes" Text="[HDKN_WEBUI_PORT]" />
        <!-- // Web UI -->

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                 
        <!-- back -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        
        <!-- next -->
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg"><![CDATA[HDKN_WEBUI_PORT <> ""]]></Publish>
          <Publish Event="SpawnDialog" Value="ConfigureInvalidDlg"><![CDATA[HDKN_WEBUI_PORT = ""]]></Publish>
        </Control>
        
        <!-- cancel -->
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>